.table-container {
  width: 190px;
  margin: 0px;
  font-family: Arial, sans-serif;
  max-height: 290px;
  overflow-y: auto; /* enables vertical scroll */
  overflow-x: hidden; /* hides horizontal scroll */
  border: 1px solid rgb(225, 220, 220);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #f7f6f6;
  padding: 3px 1px;
  text-align: left !important;
}

th {
  font-weight: bold !important;
  text-align: left !important;
  position: sticky; /* keeps header visible */
  top: 0;
  background-color: #fff;
  z-index: 1;
}
