.card-body {
  background: white;
  padding: 0px !important;
}

.zoom-container img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.zoom-container img:hover {
  transform: scale(1.3);
  z-index: 1000;
  cursor: pointer;
}

.zoom-container {
  overflow: visible;
}
